/* src/components/DarkModeToggle/DarkModeToggle.module.css */
.toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem; /* Adjust overall size here */
    padding: .5rem 0; /* Add some padding */
    margin-right: .5rem;
    margin-left: .5rem;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    gap: 0.5rem; /* Space between icon and text */
    color:  var(--color-secondary);
    border-radius: 5px; /*Example*/
    transition: background-color .3s ease; /*Example*/
  }
  
  .icon {
    /* REMOVE width and height:  Let font-size control it */
    /* width: 1.5em; */
    /* height: 1.5em; */
      font-size: 1.2rem;
      margin-top: 4px;
  }