.heroTitle {
    margin-bottom: var(--space-md);
      color: var(--color-text);
      text-align: center;
  }
  
  .heroSubtitle {
    color: var(--color-text);
    text-align: center;
  }

  .heroP{ 
    font-family: var(--font-family-sora);
    font-size: var(--font-size-hero-paragraph);
    line-height: var(--line-height-hero-paragraph);
    font-weight: 400;
    margin-bottom: var(--space-md);
}
  .heroContent {
    max-width: 1200px;
    margin: 6rem auto;
    text-align: center;
  }

.contactIntro {
    /* Styles for the introductory paragraph */
    margin-bottom: var(--space-lg);
}

.formGroup {
    /* Styles for each form group (label + input/textarea) */
    margin-bottom: var(--space-md);
}

.label {
    /* Styles for labels */
    display: block; /* Make labels block-level for better layout */
    margin-bottom: var(--space-xs);
    font-weight: bold;
}

.input,
.textarea {
    /* Styles for inputs and textareas */
    width: 100%;
    padding: var(--space-sm);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit; /* Inherit font from body */
    color: var(--color-text);
    background-color: var(--color-background);
}
.textarea{
    min-height: 150px; /*Adjust as needed*/
}

.errorMessage {
    /* Styles for error messages */
    color: red; /* Or any other error color you prefer */
    display: block; /*Make the span a block level element*/
}
.successMessage{
    color: green;
}