
.heroWrapper {
  width: 100%;
  background-color: var(--color-background);
}

.projectTitle {
    /* Styles for project titles */
    margin-bottom: var(--space-xs);
}

.projectDescription {
    margin-bottom: var(--space-md);
}

.projectLink {
    padding: 0.8rem 1.5rem; /* More standard padding */
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 4px; /* Keep rounded corners */
    cursor: pointer;
    font-size: var(--font-size-button);
    font-family: var(--font-family-primary); /* Use variables */
    font-weight: 500;
    line-height: var(--line-height-button);
    text-decoration: none;
    letter-spacing: .05rem;
    display: inline-flex; /* Use flexbox for alignment */
    align-items: center;    /* Vertical alignment */
    justify-content: center; /* Center content (text + arrow) */
    gap: 0.5rem;          /* Space between text and arrow */
  }
  
  .projectLink:hover {
    color: var(--color-link-hover); 
    text-decoration: underline;     
  }
  
  .heroContent {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-block: var(--space-xl) var(--space-xs);
  }
  
  .heroTitle {
    margin-bottom: var(--space-xs);
    color: var(--color-text);
    text-align: center;
  }
  
  .heroSubtitle {
    color: var(--color-secondary);
    text-align: center;
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--space-lg);
  }

  /* src/components/TwoColumnSection/TwoColumnSection.module.css */