.heroTitle {
    margin-bottom: var(--space-md);
      color: var(--color-text);
      text-align: center;
  }
  
.heroSubtitle {
    color: var(--color-text);
    text-align: center;
  }
  
.heroP{  /*Added class*/
    font-family: var(--font-family-sora);
    font-size: var(--font-size-hero-paragraph);
    line-height: var(--line-height-hero-paragraph);
    font-weight: 400;
    margin-bottom: var(--space-md);
}

  .heroContent {
    max-width: 1200px;
    margin: 6rem auto;
    text-align: center;
  }

.projectTitle {
    /* Styles for project titles */
    margin-bottom: var(--space-xs);
}

.projectDescription {
    margin-bottom: var(--space-md);
}

.projectLink {
    padding: 0.8rem 1.5rem; /* More standard padding */
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 4px; /* Keep rounded corners */
    cursor: pointer;
    font-size: var(--font-size-button);
    font-family: var(--font-family-primary); /* Use variables */
    font-weight: 500;
    line-height: var(--line-height-button);
    text-decoration: none;
    letter-spacing: .05rem;
    display: inline-flex; /* Use flexbox for alignment */
    align-items: center;    /* Vertical alignment */
    justify-content: center; /* Center content (text + arrow) */
    gap: 0.5rem;          /* Space between text and arrow */
  }
  
  .projectLink:hover {
    color: var(--color-link-hover); 
    text-decoration: underline;     
  }