/*Footer*/
.footer {
    background-color: var(--color-header-footer-bg);
    padding: var(--space-sm); /*Keep, remove, or modify padding here, depending on how you want it*/
    text-align: center;
    margin-top: 2rem;
    color: var(--color-text)
  }