/* src/index.css */
:root {
  /* Dark Mode Colors (Keep these) */
  --color-background: #121212;
  --color-text: #eee;
  --color-primary: #4a90e2;
  --color-secondary: #a0aec0;
  --color-card-background: #1e1e1e;
  --color-button-text: #fff;
  --color-link: #4a90e2;
  --color-header-footer-bg: #282828;
  --color-box-shadow: rgba(255, 255, 255, 0.1);

    /*Spacing Variables*/
    --space-xs: 0.5rem;  /* 8px */
    --space-sm: 1rem;   /* 16px */
    --space-md: 1.5rem;  /* 24px */
    --space-lg: 2rem;   /* 32px */
    --space-xl: 3rem;    /* 48px */

}

body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: var(--color-background);
  background-image: linear-gradient(to bottom, #121212, #1a1a1a);
  color: var(--color-text);
}

*, *::before, *::after {
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--space-md); /* Consistent padding */
  min-height: calc(100vh - 74px - 56px); /*Adjust height values if logo height changed*/
}

/* Responsive adjustments (Media Queries) */
@media (max-width: 768px) { /* Mobile and smaller tablets */
    main{
        padding: var(--space-sm); /* Less padding on smaller screens */
    }

}

@media (min-width: 769px) and (max-width: 1200px) { /* Larger tablets and smaller desktops*/
    main{
        padding: var(--space-lg);
    }
}